<html>
<head>
  <title>Hello Rails React</title>
</head>
<body>
<div id="root">
<h1>Welcome</h1>
<%= react_component('App') %></div>
<%= @greeting %>
  <%= javascript_pack_tag 'application' %>
  </body>
</html>